.buttonAdminLogin:hover{
-fx-background-color: #2BED80;
}
.buttonAdminCreate:hover{
-fx-background-color:#F3BB5F;
}
.buttonChangePassword:hover{
-fx-background-color: #C4F02F;
}
.buttonStaffLogin:hover{
-fx-background-color:#2BEDDE;
}
.buttonStaffAdd:hover{
-fx-background-color:#2FCDF0;
}
.buttonStaffReceive:hover{
-fx-background-color: #5FA7F3;
}
.buttonStaffSearchRoom:hover{
-fx-background-color: #E991F4;
}
.buttonStaffCreate:hover{
-fx-background-color: #FFC300;
}
.buttonStaffSearchMail:hover{
-fx-background-color: #5FF3C6;
}
.buttonGuestLogin:hover{
-fx-background-color:#2B98ED ;
}